$gothic: 'SF Pro Text', 'SF Pro', 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
$Zenkaku: 'Zen Kaku Gothic New', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
$YuMincho: '游明朝', 'Yu Mincho', YuMincho, 'Hiragino Mincho Pro', serif;
$YuGothic: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
$Marcellus: 'Marcellus', '游明朝', 'Yu Mincho', YuMincho, 'Hiragino Mincho Pro', serif;
$Rubik: 'Rubik', "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
